<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>
<body>
<p style="height: 30px;width: 250px;font-size: 20px">Enter name of the file twice</p>


    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="height: 50px;width: 100px">Upload</button>
    </form>

<hr>



<div style="margin-left: 100px;margin-top: 30px;font-size: 30px">
{% for item in images %}
    <hr>
  <p style="margin-left: 500px">{{ item.para }}</p>

  <br>

{% endfor %}
<hr>
</div>


</body>
</html>